body{
	background-color: #ffae42;
	padding:0px;
	margin:0px;
	color: darkred;
	font-family: cambria;
}

h1, h2, h3, h4, h5, h6, p{
	
}

a{
	color: forestgreen;
	text-decoration:none;
	cursor:pointer;
}

.bgImg img{
	position:fixed;
	z-index:-1;
	height:100%;
	width:100%;
	text-align:center;
	left:0px;
	right:0px;
}

.navtitle h1,.navtitle h3{
}

.navtitle{
	padding:10px;
	margin:0px;
	background-color: darkorange;
}

.navtitleA{
	width:100%;
	height:30px;
	position:fixed;
	display:grid;
	
	grid-template-columns:1fr 1fr 1fr 5fr;
}
/*

???[what's happening]???

*/
.navtitleA:hover .navbuttons{
	opacity:1;
	transition:300ms;
}

.navtitlehome button:hover .navtitlehome button{
	background-color:rgb(255,239,136);
	color:rgb(208,165,1);
}

.navtitleevents button:hover .navtitleevents button{
	background-color:rgb(255,239,136);
	color:rgb(208,165,1);
}

.navtitleabout button:hover .navtitleabout button{
	background-color:rgb(255,239,136);
	color:rgb(208,165,1);
}

.navbuttons{
	background-color:rgb(243,227,84);
	width:100%;
	height:100%;
	border:1px rgb(233,213,27) solid;
	border-radius:10px;
	margin:5px;
	opacity:0;
}

.midnews{
	display:grid;
	grid-template-columns: 1fr 3fr 1fr;
}

.midnews div{
	padding:5px;
	margin:7px;
	text-align:center;
	background-color:gold;
}

.articlelink
{
	border: 20px solid darkred;
}

.minibox
{
	border: 5px red;
	border-top-style:dashed;
	border-right-style: solid;
	border-left-style: solid;
	border-bottom-style: dashed;	
}

.minitext
{
	font-size: 20px;
}

.picture
{
	width: 800px;
	margin: auto;
	position: relative;
}
.picture img
{
	width: 100%;
}


.singularAd{
	background-color:rgb(255,239,136);
	border-radius:4px;
}

a div h2,a div p{
	font-color:black;
}

footer{
	color:rgb(255,239,136);
}

@media screen and (max-width:769px){
	.midnews{
		display:block;
	}
	
	.leftads, .rightads{
		background-color:white;
	}
}
/*

*/